#main{
    margin: 0 auto;
    background-color: rgb(215, 223, 220);
}
.container {  
    display: grid;  
    grid-template-columns: 100%;  
    grid-template-rows: 15%;
    text-align: center;
}

#main a {
    text-decoration: none;
}
#main ul li{
    list-style-type: none;  
}
h1#title {
    color: rgb(9, 9, 87);
    
}
#select ul li{
    display: inline-block;
    font-size: 3em;
    padding-right: 10%;    
}
#select ul li a{
    color: red;
}
#select ul li a:hover{
    color: green;
}
ul#choice {
    margin-top: 10%;
}
#reset{
    width: 20%;
    font-size: 2rem;
    margin: 0 40%;
}
#result{
    margin: 2% 30% 10%;
    font-size: 1.6rem;
}

footer#copyright {
    margin: 0% 5% 10%;
    bottom: 0%;
}
footer#copyright a {
    color: black;
}