body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  margin: 40px auto 0;
  padding: 20px 10px 40px;
  text-align: center;
  width: 800px;
}
h1 {
  font-size: 4em;
}
ul {
  list-style-type: none;
  padding: 20px 0 30px;
}

li {
  display: inline;
  margin: 0 auto;
}

.hands {
  font-size: 4em;
  padding: 14px;
}

.hands a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.hands a:hover {
  color: rgb(14, 216, 7);
}
.result {
  font-size: 1.3em;
  height: 50px;
  padding: 0 0 20px;
}
button {
  background-color: rgb(38, 147, 248);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #000000;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 20px;
}

button:hover {
  color: rgb(38, 147, 248);
  background-color: #ffffff;
  font-weight: 700;
}
.footer {
  margin: 15px 0 0;
  font-size: 0.8em;
}
.footer a {
  color: rgb(31, 35, 245);
  text-decoration: none;
}
